body {
    font-family: "Open Sans", sans-serif;
    background-color: #252525 ;
    color: #fff;
    margin: 0%;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #3d3e3f;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    color: #fff;
  }

#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: #4e4c4c;
  }
  #header:hover {
    background: #FFFFFF;
  }
  
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }


  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 60px;
  }

  #header .nav-btn{
    width: 100px;
    height: 50px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 500px;
    border-style: none;
    font-size: 18px;
    margin: 5px;
    color: #3d3e3f;
  }

  #header .nav-btn:hover{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    cursor: pointer;
  }
  
  #header .nav-btn2{
    width: 200px;
    height: 50px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 500px;
    border-style: none;
    font-size: 18px;
    margin: 5px;
    color: #3d3e3f;
  }

  #header .nav-btn2:hover{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    cursor: pointer;
  }
  
  .cert{
      height: 500px;
      padding-left: 23%;
      padding-top: 50px;
  }
  